.SharedBanner {
  width: 100%;
  position: relative;
}
.SharedBanner img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  filter: brightness(30%);
}
.head {
  width: 100%;
  position: absolute;
  top: 42%;
  margin: auto;
}
.head h1 {
  margin: 0;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .SharedBanner img {
    height: 30vh;
  }
  .head {
    top: 47%;
  }

  .head h1 {
    font-size: 1.2rem;
    line-height: 1;
  }
}
