
.Brand{
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1000;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
  }
  .Brand .icon {
    font-size: 4rem;
    margin-right: 5px;
    color: #4fe8fd;
  }
  .Brand h1 {
    line-height: 0.2;
  }
  @media only screen and (max-width: 600px) {
    
    .Brand {
      top: 5px;
      margin-top: 0px;
    }
    .Brand .icon {
      font-size: 2rem;
      margin-right: 5px;
    }
    .Brand h1 {
      line-height: 0.2;
      font-size: 1rem;
    }
  }