.Footer {
  color: white;
  background-color: #08011f;

}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-li {
  display: flex;
  flex-basis: 75%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif; 
  text-transform: uppercase;  
  color: white;
  margin: 0;
}
.footer-li li {
  list-style-type: none;
}
.footer-admin {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .Footer {
    
    padding: 40px;
  }
  .footer {
    justify-content: space-between;
    padding: 0px;
    flex-direction: column;
  }
  .footer-li {
    width: 80vw;
    font-size: 1rem;
  }
  .footer-li ul {
    padding: 0 !important;
  }
  .footer-admin {
    text-align: center;
  }
}
