
.Brand{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 11;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
  }
  .Brand .icon img{
    height: 100px;
    margin-right: 5px;
  }
  .Brand h1 {
    line-height: 1;
    margin: 0;

  }
  @media only screen and (max-width: 600px) {
    
    .Brand {
      top: 5px;
      margin-top: 0px;
    }
    .Brand .icon img{
      height: 60px;
    }
    .Brand h1 {
      line-height: 1;
      font-size: 1.2rem;
    }
  }