.banner {
  font-family: "Oswald", sans-serif;
}
.details-desktop {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 35vh;
  text-align: center;
}
.details-desktop h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1.2;
}
.details-desktop h1 span {
  color: #e268e0;
}

.details-mobile {
  display: none;
}

.image img {
  padding: 0 auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  filter: brightness(30%);
}
.social {
  position: absolute;
  top: 30vh;
  right: 63px;
  z-index: 2;
  font-size: 2rem;
  display: flex;
}
.social ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social li {
  list-style-type: none;
  margin: 20px 0;
  color: #4fe8fd;
}
.social li:hover {
  color: #e268e0;
}
.scroll {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 3vh;
  color: #e268e0;
  z-index: 2;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .image img {
    object-fit: cover;
    height: 100vh;
  }
  .details-desktop {
    display: none;
  }
  .details-mobile {
    color: white;
    position: absolute;
    left: 20px;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 20vh;
  }
  .details-mobile h1 {
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    font-size: 10vh;
  }
  .details-mobile p {
    font-size: 1.5rem;
  }
  .details-mobile h1 span {
    color: #e268e0;
  }
  .details-mobile p span {
    color: #4fe8fd;
    text-transform: uppercase;
  }
  .logo {
    top: 5px;
    margin-top: 0px;
  }
  .logo .icon {
    font-size: 2rem;
    margin-right: 5px;
  }
  .logo h1 {
    line-height: 0.2;
    font-size: 1rem;
  }
  .social {
    right: 18px;
    font-size: 1.5rem;
  }
}
