.banner {
  position: relative;
}
.details {
  color: white;
  position: absolute;
  top: 310px;
  left: 310px;
  text-align: left;
  text-align: center;
  z-index: 2;
  line-height: 1;
}
.details h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

.details p {
  font-size: 4rem;
}
.details span {
  color: #e268e0;
}
.details-gym {
  color: #332467;
  position: absolute;
  top: -178px;
  left: 150px;
  text-align: left;
  z-index: 1;
}
.details-gym h1 {
  font-size: 32rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
}
.image img {
  /* width: 360px; */
  padding: 0 auto;
  width: 100%;
  height: auto;
  max-width: 100%;
}


@media only screen and (max-width: 600px) {
  .image img {
    object-fit: cover;
    height: 600px;
  }
  .details {
    top: 215px;
    left: 70px;
  }
  .details h1 {
    font-size: 2rem;
  }
  .details p {
    font-size: 1.5rem;
  }
  .details-gym {
    top: 45px;
    left: 10px;
  }
  .details-gym h1 {
    font-size: 11rem;
  }
}
