.Banner2 {
  padding-bottom: 50px;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
}
.banner-details {
  text-align: center;
}
.banner-details h1 {
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  
  color: #332467;
  margin: 10vh 0 0;
  line-height: 1;
}
.banner-details h4 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  color: #e268e0;
  margin: 20px 20px 60px;
}
.our-services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.front {
  background-color: #332467;
  width: 270px;
  height: 274px;
  border: none;
  border-radius: 30px;
  text-align: center;
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative !important;
}
.front h1 {
  color: #62d0df;
  font-size: 5rem;
  margin: 10px 20px;
}
.front h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  /*  */
  margin: 10px 10px 0;
}
.front .banner2-button {
  position: absolute;
  bottom: -25px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #07d6f6;
  color: white;
  cursor: pointer;
  text-align: center;
}
.front .banner2-button svg{
  font-size: 1.5rem;
  margin-top: 12px;
}
.front .banner2-button:hover {
  background-color: #332467;
}
.swiper{
  display: none;
}
@media only screen and (max-width: 600px) {
  .banner-details h1 {
    font-size: 3rem!important;
  }
  .banner-details h4 {
    font-size: 1.5rem;
  }
  .our-services{
    display: none;
  }
  .swiper{
    display: flex;
    margin-top: 0!important;
    margin: 0 5%!important;
    padding-bottom: 40px  !important;
  }
  #close {
    position: absolute;
    top: -28px;
    right: -28px;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    color: #000;
    background-color: #fff;
    border-radius: 40px;
  }

  .our-services {
    flex-direction: column;
  }
}
