.Banner2 {
  padding-bottom: 50px;
  background-color: #fff;
}
.banner-details {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
}
.banner-details h1 {
  font-size: 8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #332467;
  margin: 10vh 0 0;
  line-height: 1;
}
.banner-details h4 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  color: #e268e0;
  margin: 20px 20px 60px;
}
.our-services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-services div {
  background-color: #332467;
  width: 270px;
  height: 274px;
  border: none;
  border-radius: 30px;
  text-align: center;
  margin:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-services div h1 {
  color: #62D0DF;
  font-size: 5rem;
  margin: 10px 20px;
}
.our-services div h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  /* font-style: italic; */
  margin: 10px 10px 0;
}
.our-services button{
  position: relative;
  bottom:40px ;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #07d6f6;
  color: white;
  font-size: 1rem;
}
@media only screen and (max-width: 600px) {
  
  .banner-details h1 {
    font-size: 3rem;
  }
  .banner-details h4{
    font-size: 1.5rem;
  }
  #close {
    position: absolute;
    top: -28px;
    right: -28px;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    color: #000;
    background-color: #fff;
    border-radius: 40px;
  }


  
.our-services {
  flex-direction: column;
}

}
