.Banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Banner2 img {
  max-width: 50%;
}
.banner-details {
  text-align: center;
  margin-top: 10vh;
}
.banner-details h1 {
  font-size: 8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #07d6f6;
  margin: 0;
  line-height: 1;
}
.banner-details h4 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  color: #e268e0;
  margin: 20px;
}
.banner-details p {
  /* font-family: "Oswald", sans-serif; */
  margin: 0 7vw;
  font-size: 2rem;
}

.button button {
  margin: 3rem 0;
  padding: 2rem 6rem;
  border: none;
  border-radius: 400px;
  background-color: #e268e0;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
}
.button button:hover {
  background-color: #e334e0;
}
.banner-info {
  display: none;
}
@media only screen and (max-width: 600px) {
  .Banner2 {
    flex-direction: column;
  }
  .Banner2 img {
    max-width: 100%;
    object-fit: cover;
    height: 100vh;
  }
  .banner-details {
    position: absolute;
    margin-top: 20vh;
    z-index: 1;
  }
  .banner-details h1 {
    font-size: 4rem;
  }
  .banner-details h4 {
    display: none;
  }
  .banner-details p {
    display: none;
  }
  .button button {
    margin: 3rem 0;
    padding: 1rem 3rem;
    font-size: 1rem;
  }
  .banner-info {
    margin: 0 50px;
    display: block;
    position: absolute;
    z-index: 5;
    background-color: #e334e0;
    border-radius: 20px;
  }
  .banner-info p{
    margin: 30px;
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  #close{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    background-color: rgba(13, 12, 12, 0.629);
    border-radius: 40px;
  }
}
