.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 111111;
}
.ham-container {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 80px;
  width: 80px;
  background-color: white;
  border: 1px solid #e268e0;
  border-radius: 50px;
  cursor: pointer;
}
.ham-container:hover {
  background-color: #e268e0;
  color: white;
  border: none;
}
.bar {
  font-size: 2rem;
  text-align: center;
  padding-top: 17px;
}
.sidebar {
  width: 300px;
  transition: height 0.5s;
  height: 100%;
  background-color: #08011f;
}
.sidebar ul {
  position: absolute;
  top: 30vh;
}
.sidebar ul li a{
  list-style-type: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  cursor: pointer;
  
}
.sidebar ul li a:hover {
  color: #62d0df;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 250px;
  }
  .ham-container {
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
  }
  .bar {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 9px;
  }
}
